<div class="container">
    <h1>Thank you for contacting me!</h1>
    <p>I received your message and I will get back to you as soon as I can.</p>
    <p>Best regards, Eldor Togaymurotov</p>
    <a href="/contacts">View Your Message</a>
</div>