<!DOCTYPE html>

	<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
	<!--[if IE 7]><html class="lt-ie9 lt-ie8"> <![endif]-->
	<!--[if IE 8]><html class="lt-ie9"> <![endif]-->
	<!--[if gt IE 8]><!-->

<html>

	<!--<![endif]-->
	<!-- Head -->
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Title -->
		<title>Eldor Togaymurotov</title>
		<!-- Short-Cut Icon -->
		<link rel="shortcut icon" href="#" />
		<!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,800,900" rel="stylesheet">
		<!-- Font Awesome Version - 4.5.0 -->
		<link href="css/font-awesome.min.css" rel="stylesheet" media="all">
		<!-- Bootstrap Style Sheet Version - 3.3.6 -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="all">
		<!-- Animation Style Sheet Version - 3.5.0  -->
		<link href="css/animate.min.css" rel="stylesheet" media="all">
    <link href="css/lightbox.css" rel="stylesheet" />
    <!-- my style -->
    <link href="css/mystyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
    <!-- ========== Loading animation ========== -->
    <section class="lodaing-overlay">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </section>
    <!-- ========== End Loading animation ========== -->
    <!-- ========== Navbar ========== -->
    <nav class="menu">
        <div class="container-fluid">
            <div class="brand">
                <a href="/">
                    Eldor
                </a>
            </div>
            <div class="nested-menu">
                <ul class="menu-items" role="tablist">
                    <li><a href="/" class="link">Home</a></li>
                    <li><a href="/about" class="link">About</a></li>
                    <li><a href="/contactme" class="link">Contact</a></li>
                    <li><a href="/skills" class="link">Skills</a></li>
                    <li><a href="/services" class="link">Services</a></li>
                    <li><a href="/portfolio" class="link">Portfolio</a></li>
                    <li class="social"><a href="https://www.facebook.com/eldor.togaymurotov"><i class="fa fa-facebook"></i></a></li>
                    <li class="social"><a href="https://twitter.com/etogaymurotov"><i class="fa fa-twitter"></i></a></li>
                    <li class="social"><a href="https://www.linkedin.com/in/coding-bootcamp-3556311b8/"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <div class="menu-trigger">
                    <div class="menu-bar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="text">
                        <span>Menu</span>
                        <span>Close</span>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- ========== End Navbar ========== -->

    <!-- ========== Header ===================== -->
   
    <!-- ========== End Header ======================= -->
   
   {{{body}}}
   
   
   

    <!-- ========== Footer ===================== -->
    <section id="footer" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        All rights reserved © 2020
                    </p>
                    <div class="social-icons">
                        <li class="social"><a href="https://www.facebook.com/eldor.togaymurotov"><i class="fa fa-facebook"></i></a></li>
                    <li class="social"><a href="https://twitter.com/etogaymurotov"><i class="fa fa-twitter"></i></a></li>
                    <li class="social"><a href="https://www.linkedin.com/in/coding-bootcamp-3556311b8/"><i class="fa fa-linkedin"></i></a></li>
                    <li class="social"><a href="https://www.youtube.com/channel/UCuhPFNsL0H_PF-IrOUnrkkg?sub_confirmation=1"><span class="fa fa-youtube"></span></a></li>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========== End Footer ===================== -->

		<!-- jQuery Version - 1.12.3 -->
		<script src="js/jquery-1.12.3.min.js"></script>
		<!-- Bootstrap JS File Version - 3.3.6 -->
		<script src="js/bootstrap.min.js"></script>
	  <script src="js/jquery.shuffle.min.js"></script>
	  <!-- Canvas Nodes JS -->
	  <script src="js/particles.min.js"></script>
	  <script src="js/customParticles.js"></script>
	  <!-- Google Maps API -->
	  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO_FTQP0aOKR64uO7_pTkhv94pgIHpHqc"></script>
	  <!-- Google Maps Script -->
	  <script src="js/map.js"></script>
	  <!-- Contact JS -->
	  <script src="js/contact.js"></script>
	  <!-- Touch Swipe JS File to support Touchable Devices -->
	  <script src="js/jquery.touchSwipe.min.js"></script>
	  <!-- My Plugin JS -->
	  <script src="js/myplugin.js"></script>
	  <!-- Lightbox -->
	  <script src="js/lightbox.min.js"></script>
	</body>
</html>
 <!-- End -->
