 <!-- ========== About Me ===================== -->
    <section id="about-me">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="about-avatar">
                        <img class="img-responsive" src="images/me.jpg" alt="" />
                    </div>
                </div>
                <div class="col-md-7 col-sm-12">
                    <div class="about-content">
                        <h2 class="background">About Me</h2>
                        <p>I'm A Professional Web and Mobile Application Developer. 
                          My Passion Is Designing Web Pages. 
                          I have More Than Five Years Working Experience In This field.</p>
                        <p>
                            whereas multidisciplinary intellectual capital. 
                            Distinctively synergize market-driven master and prospective channels. 
                            Dramatically drive an expanded array of expertise with modern technology. 
                            Completely cultivate standardized manufactured.
                        </p>
                        <p>
                            Continually transform process-centric systems rather than 
                            compelling growth strategies. 
                            Energistically streamline low-risk high-yield supply chains via
                             scalable intellectual capital.
                        </p>
                        <a class="button" href="#">Download CV</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========== End About Me ===================== -->