 <!-- ========== Portfolio ===================== -->
    <section id="portfolio"  class="portfolio text-center">
        <div class="container">
            <div class="heading">
                <h2 class="background">portfolio</h2>
                <ul class="portfolio-sorting list-inline text-center">
                    <li><a href="#" data-group="all" class="active">All</a></li>
                    <li><a href="#" data-group="design">design</a></li>
                    <li><a href="#" data-group="graphic">graphic</a></li>
                    <li><a href="#" data-group="coding">coding</a></li>
                </ul> <!--end portfolio sorting -->
            </div>
            <div class="row">
                <div class="portfolio-items" id="grid">
                    <div class="col-md-4 col-sm-6 col-xs-6" data-groups='["graphic"]'>
                        <div class="img-thumb margin-desktop">
                            <a style="z-index:500" href="images/html-css.png" data-lightbox="gallery">
                                <img class="img-responsive" src="images/html-css.png" alt="html-css" data-animation="animated rotateInDownLeft" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6" data-groups='["coding"]'>
                        <div class="img-thumb margin-desktop">
                            <a style="z-index:500" href="images/bootstrap.png" data-lightbox="gallery">
                                <img class="img-responsive" src="images/bootstrap.png" alt="bootstrap" data-animation="animated rotateInDownLeft" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6" data-groups='["design"]'>
                        <div class="img-thumb margin-desktop">
                            <a style="z-index:500" href="images/reactnative.jpg" data-lightbox="gallery">
                                <img class="img-responsive" src="images/reactnative.jpg" alt="reactnative" data-animation="animated rotateInDownLeft" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6" data-groups='["graphic"]'>
                        <div class="img-thumb margin-desktop">
                            <a style="z-index:500" href="images/jquery.png" data-lightbox="gallery">
                                <img class="img-responsive" src="images/jquery.png" alt="jquery" data-animation="animated rotateInDownLeft" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6" data-groups='["coding"]'>
                        <div class="img-thumb margin-desktop">
                            <a style="z-index:500" href="images/mongodb.jpg" data-lightbox="gallery">
                                <img class="img-responsive" src="images/mongodb.jpg" alt="mongoDB" data-animation="animated rotateInDownLeft" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6" data-groups='["design"]'>
                        <div class="img-thumb margin-desktop">
                            <a style="z-index:500" href="images/javascript.png" data-lightbox="gallery">
                                <img class="img-responsive" src="images/javascript.png" alt="javascript" data-animation="animated rotateInDownLeft" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6" data-groups='["graphic"]'>
                        <div class="img-thumb margin-tablet margin-mobile">
                            <a style="z-index:500" href="images/portfolio.png" data-lightbox="gallery">
                                <img class="img-responsive" src="images/portfolio.png" alt="portfolio" data-animation="animated rotateInDownLeft" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6" data-groups='["design"]'>
                        <div class="img-thumb margin-tablet margin-mobile">
                            <a style="z-index:500" href="images/portfolio.png" data-lightbox="gallery">
                                <img class="img-responsive" src="images/portfolio.png" alt="portfolio" data-animation="animated rotateInDownLeft" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6" data-groups='["coding"]'>
                        <div class="img-thumb">
                            <a style="z-index:500" href="images/portfolio.png" data-lightbox="gallery">
                                <img class="img-responsive" src="images/portfolio.png" alt="portfolio" data-animation="animated rotateInDownLeft" />
                            </a>
                        </div>
                    </div>
                    <!-- sizer -->
                    <div class="col-md-4 col-sm-6 col-xs-6 shuffle_sizer"></div>
                </div>
            </div> <!--end row -->
        </div> <!-- end container-->
    </section>
    <!-- ========== End Portfolio ===================== -->