 <!-- ========== skills ===================== -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="skills-nested margin-desktop">
                        <p>HTML/CSS <span>100%</span></p>
                        <div class="progress-background">
                            <div class="progress-a"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="skills-nested margin-desktop">
                        <p>JavaScript <span>100%</span></p>
                        <div class="progress-background">
                            <div class="progress-a" style="width:100%"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="skills-nested margin-tablet margin-mobile">
                        <p>Nodejs <span>100%</span></p>
                        <div class="progress-background">
                            <div class="progress-a" style="width:100%"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="skills-nested">
                        <p>React Native <span>100%</span></p>
                        <div class="progress-background">
                            <div class="progress-a"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========== End skills ===================== -->
